// max dots count
$m: 6;
// loader size
$l: 70vmin;
// dots size
$d: ceil($l / $m);

.slider {
  position: relative;
  height: 80vh;
  width: 100%;

  &::before {//line vertical center
    content: '';
    position: absolute;
    height: 100vh;
    width: 1px;
    background-color: $border-color;
    left: calc(50% - 1px);
    top: 0;
  }

  &::after {//line horizontal center
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: $border-color;
    top: calc(50% - 1px);
    left: 0;
  }

  &__title {
    position: absolute;
    margin-top: 9.5vh;
    padding-left: 80px;
    font-weight: 700;
    font-size: 2.9vw;
    line-height: 1.2;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 5px;
      height: 120px;
      background: linear-gradient(hsla(219, 84%, 58%, 1), hsla(329, 82%, 65%, 1));
    }
  }

  &__subtitle {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 10.7vw;
    line-height: 1.2;
    color: $color-blue-2;

    &--two {
      color: $color-red;
    }
  }

  &__circle {
    position: relative;
    height: 72vh;
    margin-top: 6vh;

    .swiper-pagination {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      border: 1px solid $border-color;
      width: 530px;
      height: 530px;
      margin: auto;
      z-index: 9;

      &-bullet {
        display: block;
        position: absolute;
        top: -3px;
        left: calc(50% - 3px);
        transform-origin: center 21.8vw;
        cursor: pointer;

        &::before {
          content: "";
          display: block;
          width: 6px;
          height: 6px;
          background-color: $color-blue;
          border-radius: 50%;
        }

        &:hover {
          span {
            display: block;
            height: 56px;
            width: 56px;
          }
        }

        @for $n from 1 through $m {
          $k: $n - 1;
          &:nth-child(#{$n}) {
            transform: rotate(-360deg / $m * $k);

            span {
              transform: rotate(360deg / $m * $k);
            }
          }
        }

        span {
          display: none;
          height: 1px;
          width: 1px;
          transition: .10s;
          border: 1px solid rgba(48, 62, 88, 0.5);
          border-radius: 50%;
          position: absolute;
        }

        &:hover {
          .slider__circle__item--num {
            display: inline-block;
            transform: scale(20);
            background-color: #F4F5F9;
            border: 1px solid rgba(48, 62, 88, 0.5);
            border-radius: 50%;
          }
        }
      }
    }

    .swiper-button-prev, .swiper-button-next {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid rgba(66, 86, 122, 0.5);
      bottom: 5vh;
      top: auto;
      left: 80px;

      &::after {
        content: "";
        height: 7px;
        width: 12px;
        background-image: url("/image/row.svg");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    .swiper-button-next {
      left: 150px;
      transform: rotate(180deg);
    }
  }

  &__fraction {
    position: absolute;
    bottom: 130px;
    left: 80px;
    font-size: 14px;
    line-height: 18px;
    color: #42567A;
  }
}

.slider__bottom {
  padding: 0 40px 0 80px;

  &__item {
    &--date {
      margin-bottom: 15px;
      font-size: 22px;
      line-height: 120%;
      color: $color-blue-1;
    }

    &--desc {
      padding-right: 90px;
      font-size: 20px;
      line-height: 30px;
      color: $color-blue;
    }
  }

  .swiper-button-prev, .swiper-button-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0 0 15px rgba(56, 119, 238, 0.1);
    bottom: 5vh;
    top: auto;
    right: 50px;
    left: auto;

    &::after {
      content: "";
      height: 7px;
      width: 12px;
      background-image: url("/image/row.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .swiper-button-next {
    right: 0;
    transform: rotate(180deg);
  }
}


@media (max-width: 1140px) {
  .slider {
    &__title {
      margin-top: 60px;
    }

    &__circle {
      height: 60vh;

      .swiper-pagination {
        display: none;
      }
    }
  }
}

@media (max-width: 940px) {
  .slider {
    &::before, &::after {
      content: none;
    }

    &__title {
      padding-left: 0;

      &::before {
        content: none;
      }
    }

    &__fraction {
      display: none;
    }

    &__bottom {
      padding: 0 20px;

      &__item--date {
        font-size: 16px;
      }

      &__item--desc {
        padding-right: 10px;
        font-size: 14px;
        line-height: 1.2;
      }
    }
  }

  .slider__circle .swiper-button-prev {
    left: 20px;
  }

  .slider__circle .swiper-button-next {
    left: 80px;
  }
}

@media (max-width: 640px) {
  .slider__circle .swiper-button-prev,
  .slider__circle .swiper-button-next {
    width: 25px;
    height: 25px;
  }

  .slider__circle .swiper-button-next {
    left: 50px;
  }

  .slider__bottom .swiper-button-prev,
  .slider__bottom .swiper-button-next {
    display: none;
  }
}