@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "baseStyles/variables";
@import "baseStyles/reset";
@import "Components/Slider/Slider.module";
@import "Components/SliderCircle/SliderCircle.module";

body {
  font-family: 'PT Sans', sans-serif;
  background-color: $bg;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: $color-blue;
  overflow: hidden;
  height: 100vh;
  position: relative;
  top: -6vh;
}

.wrapper {
  max-width: 1440px;
  height: 100vh;
  position: relative;
  margin: 0 8.3% 0 16.6%;
  box-sizing: border-box;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
}

@media (max-width: 1240px) {
  .wrapper {
    margin: 0 100px;
  }
}

@media (max-width: 940px) {
  .wrapper {
    margin: 0 20px;
    border: none;
  }
}